body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS for hover effects on cards */
.group .group-hover-target {
  opacity: 0;
  transition: opacity 200ms ease;
}

.group:hover .group-hover-target {
  opacity: 1;
}
